<ul>
  <% @events.each do |event| %>
    <li>
      <strong><%= event.name %></strong>
      in <%= event.location %>:
      <%= price(event) %>
    </li>
    <p>
      <%= truncate(event.description, length: 35, separator: ' ') %>
    </p>
    <p>
      <%= day_and_time(event) %>
    </p>
  <% end %>
</ul>
