<!DOCTYPE html>
<html>
<head>
  <title>Eventz</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <h1>Eventz</h1>
</header>

<div class="content">
  <%= yield %>
</div>
</body>

<footer>
  I'm learning Ruby.
</footer>
</html>
